<a href="https://colab.research.google.com/github/muhsintsn/python-project/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [2]:
import numpy as np
import numpy as pd
from scipy import stats

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [3]:
mean, std = 100, 15 # mean and standard deviation
samples = np.random.normal(mean, std, 1000)
samples

array([ 88.36431405,  88.99402937, 112.99478421, 108.9958198 ,
        48.12378167,  91.10053209,  98.11961154,  79.04382345,
       103.50961559, 108.24385732,  85.33050763,  81.71346522,
       108.18603867,  86.77782533,  93.02957521,  89.68917668,
        87.30898355, 120.95685934, 111.7627614 , 115.45391153,
        79.94044444,  85.13959265, 101.49006898, 100.78864949,
       111.59890278, 116.73502694, 102.59923476,  94.79077597,
        77.92236871, 102.92694051,  64.74592574,  95.42172257,
       106.65335427,  96.11667888, 119.7710769 ,  70.09941526,
        82.61736782,  87.39647247,  88.29011801,  90.8869276 ,
        85.59571061, 118.9060731 , 135.05265194, 105.03933323,
       102.04304131,  96.92801926,  93.8964929 ,  91.94829072,
        95.64524508,  73.68618658,  87.13212621, 101.02651142,
       110.68145025,  87.65241774,  88.54643248, 105.73955241,
       113.6939995 ,  93.92020225, 112.68863097, 103.34939749,
        83.77173816,  96.27021233, 130.26022942, 110.83540453,
       105.74780117, 106.8048    , 111.97113084, 102.08209794,
       114.59343956,  88.05973183,  93.62143885,  84.45386773,
       115.93985722,  99.36227173,  90.59880002,  83.69074253,
       103.27650643,  90.23811416, 119.05859457,  73.31685019,
        70.16236617, 116.92954996,  77.55578134, 115.4191735 ,
       106.56704284,  73.46006661, 122.48755008, 102.77572902,
       114.43475494, 151.64689921, 114.56228939,  88.14109536,
       106.30863507, 123.16547855,  98.12529747,  95.67931724,
       144.32048274,  75.94630592,  65.20881495, 115.85293421,
       117.81760995, 119.14350325, 105.35367134,  93.7852995 ,
        78.16941194, 100.56656143, 110.92610652,  88.03050389,
       100.05216822,  94.05699751,  75.19273654,  94.48579353,
        99.11504695, 134.28742141,  64.68564874,  97.52220545,
        96.446496  ,  88.03162707,  76.58944086, 107.88776431,
       110.92601572,  96.09837003,  83.78547324,  93.4014936 ,
        85.82335339, 108.1489034 ,  99.23157907,  83.82528466,
       117.57514092, 112.19764871,  98.10448001, 106.92904845,
       100.44641105, 110.83773601,  82.47502002, 106.75184148,
        92.91998459,  82.13569187,  97.08928258, 107.41441433,
       105.2601769 , 106.39247961,  97.82622492,  93.34363468,
       105.11943636,  85.2281823 ,  90.29690606, 107.78189439,
        95.61295517, 110.66186407, 101.81496622, 107.03195606,
       110.63549741, 106.72085833,  68.52875187, 101.80073851,
       110.12704099, 111.7587655 ,  91.25280351, 115.44659695,
       128.61327766, 116.62766261, 106.57157415,  87.27547587,
       100.52271953, 112.85970413,  92.06977762,  86.14126535,
        87.30723751, 111.09786625, 119.7763114 ,  96.32934517,
       102.46873523, 102.4999329 , 132.73793446,  84.2401067 ,
        84.76368384, 116.57522066,  91.63090978,  85.08963756,
        96.20477615, 106.79407435,  74.50407898,  79.63648376,
        89.51715073, 108.16442514, 117.03744524, 104.40544653,
        69.24152275,  73.68622502,  88.59458543,  82.6137298 ,
        98.55510869,  76.76870214, 105.00148383, 105.33138465,
        93.59086941,  95.2086425 ,  83.52237256, 103.95039883,
       113.93200754, 112.22380905,  92.80329937, 110.7637194 ,
        79.31752639,  81.35543166,  84.22461496, 106.86178418,
       104.39294678,  98.4495119 , 111.11430981,  88.26782406,
        91.86993456, 103.66147178,  90.94117176,  76.31384091,
        88.51695756,  85.21126628,  96.58737172,  87.05945893,
       122.59088048,  86.24484059, 119.69274334,  81.65718558,
       113.45986695, 109.43166374, 116.97487071, 111.86746799,
       115.80576089,  97.10754204,  83.86950146, 105.99758045,
        81.40772324, 102.24629775,  94.26877551, 113.51703163,
       104.81022185, 104.37120387,  83.48371825,  67.42956495,
       101.03124582,  61.6435861 ,  92.65011541,  97.09431643,
       102.67966057, 118.27382104,  80.7715361 , 107.63195406,
        93.07288384, 111.65766985,  90.39612892, 104.87120484,
        97.90641625, 105.82658463,  87.41563166, 108.94531925,
       100.07020334,  75.45536546, 106.68441888,  94.96758286,
       103.15846851, 100.4384517 ,  94.49850275, 126.65457578,
       105.11755417,  79.32068306,  86.04880576,  65.69102175,
       113.6759973 , 127.31995175, 148.46585243, 116.13559539,
        80.25424245,  96.88544727, 126.1603327 , 104.55146453,
       139.38684663, 114.59449546,  61.75818087,  97.23896165,
        96.00199759,  84.97225855,  99.42505715,  73.47199784,
        91.87667103, 106.26073206, 102.49303877, 122.88010366,
        86.62748462,  99.78515182, 117.14686585,  92.01578489,
       100.6642557 , 111.75422449, 117.51623992, 114.21977206,
        92.55198419, 106.52896716,  74.4486053 ,  91.22139328,
        61.47570573,  52.09353902,  91.65967366, 112.44686172,
       104.22569268, 111.76898111, 135.67647115,  99.51627968,
       105.58137911,  89.33763962, 128.65275297,  85.06988017,
        84.14140725,  93.36477461, 104.98242777,  66.8883139 ,
        93.2681321 , 118.47692261,  94.82577854,  85.01936491,
        99.17934032, 101.71443853, 104.33134259, 106.79236085,
       106.90399204, 112.34628988,  91.23773074, 104.57338201,
       112.52272966, 112.77562131, 104.76599271, 115.08261386,
       103.89347533,  97.48421101, 110.76947883, 100.78718596,
        89.68647884, 119.26561363, 110.39378663,  97.84314189,
       105.50702987, 103.21801696, 129.98159324,  95.38104279,
        98.44838097,  83.07591278, 106.38981593, 130.88559627,
       109.7020768 , 101.0591875 , 111.42616126, 107.61570623,
       125.75404494,  77.21818958, 101.53488613,  81.64444607,
       114.61179371, 116.09765682, 104.80826094, 109.3482384 ,
       100.99348524, 117.06813313, 113.79775447, 117.30248822,
        88.80828925, 102.67226227, 100.08556925, 127.49364371,
       131.84131825,  92.36874554,  89.84623543, 122.62471558,
        84.49999566, 109.62980052, 115.31361065,  89.95054264,
       103.4497614 , 121.60147644, 106.65089574, 116.87304137,
        88.65535878, 118.01492505, 128.00052966,  92.15644698,
       106.24333652,  86.25513733, 109.87438778, 107.92393988,
       128.62440902, 104.52757927, 106.19556594,  77.54745974,
       119.84626778, 112.6477768 ,  87.73058653, 112.46561831,
       111.98483728, 102.94746698, 102.9060362 , 120.38344432,
       122.79981021,  91.49905301, 117.88890934, 103.13327509,
       118.29062558,  90.07721757, 105.86128673, 106.12744401,
       117.58643274, 125.65182425, 135.76570809,  95.42751744,
       114.70846539, 105.84683517,  83.45486536,  79.1930887 ,
        93.65889965,  94.40871246, 117.03022396,  96.1530597 ,
       122.65817603,  84.6839957 ,  94.57931774,  54.25936052,
        97.85098339,  92.89231324, 100.95089179,  94.03866277,
        94.80588264, 102.31640015, 116.37841785,  97.88584182,
       123.4642907 ,  86.38701779,  80.73690557, 114.68606405,
        83.22882441, 102.49575046, 100.95391363, 117.55385883,
       120.53550393,  80.19135409, 111.49692403,  93.568156  ,
        91.97833695,  79.40561999,  71.2591682 , 111.38130635,
       108.88863993,  82.60315049,  80.07713654, 129.13152271,
        89.73350645,  71.63430238,  82.39630693, 121.37526898,
        98.30600461, 112.97352448, 104.95513453,  75.32878785,
       108.62392638,  84.65719645, 109.32656928,  93.23269411,
        94.15151723, 111.83009465,  95.30491513, 105.02756832,
       110.9192105 ,  80.72731868,  91.00231531, 113.81013817,
        87.66674087, 109.559157  ,  69.75082652, 119.962319  ,
       119.01260367,  98.65111848,  99.49128751,  90.23101543,
        96.41631205,  92.62373471,  80.2040141 , 113.29279841,
        92.67794493,  73.64108878,  81.50018519, 101.95833543,
        90.91499676, 115.21831198,  80.88354019, 101.22558554,
       109.70788855,  92.86804427, 109.42637996, 100.6016385 ,
        73.63525821,  82.495377  ,  93.6663453 ,  95.29141086,
       100.10876936, 101.93074537,  98.52919092,  99.05215234,
       101.86404138,  89.94783312,  97.7419839 , 119.59614924,
        92.55787647, 104.62991079,  85.48183579,  75.26826918,
       110.40739337,  91.75360455, 106.83995125, 103.08819917,
       108.85449766, 117.99582546, 100.82419288,  79.15827689,
        84.76471463, 129.0544308 ,  83.90793762, 126.54929374,
       103.28896215,  99.64944842, 115.73201714,  89.94284837,
       112.01615403,  98.2604225 ,  88.10676714,  99.6754365 ,
        75.24468234,  91.22644579,  98.05819121,  91.45121318,
        81.38489826, 106.22005061, 118.29594066, 131.27318298,
        95.062154  , 114.62085456, 107.76197853,  87.18382009,
       102.60290301, 114.79599819,  99.50503078, 104.96163856,
        90.02139488, 111.70535252, 119.21064849,  82.8897122 ,
       118.26095159, 135.18151924,  90.79608052,  90.88797295,
        95.28898467,  72.75263594, 112.18497111,  76.59119535,
        87.26203134,  84.7260614 , 102.67124865, 114.93261264,
        90.03356743,  98.52580017, 101.89477317,  85.11750225,
        91.47009188, 109.46776463,  88.85020864, 113.05423549,
       110.21433017, 119.99816556, 135.51844122,  92.17201877,
       113.9232744 , 138.67735203,  71.67108065,  96.95170332,
        93.43839145,  82.58593974,  96.10923317,  82.44990391,
        91.75313826,  94.60685337, 112.4902919 ,  67.54483736,
       106.25698316, 105.44198862,  78.90032901, 110.21855104,
        91.36284109, 105.16426996,  98.86703662,  97.63254397,
        86.75948536, 109.2226316 , 117.79466029, 122.42971599,
       104.62741708, 100.86235214, 123.90342862,  80.17809797,
       117.76719508,  92.74073929, 108.03726732, 103.33801014,
       117.62562732,  75.17214248,  75.82513262, 108.76114303,
       104.74331103, 115.87504517,  94.31623067,  97.75183286,
        84.46774142,  98.69227098,  69.24494684, 107.22195618,
        79.28630848,  89.38319626,  90.74545231,  90.95653018,
       116.5719663 , 129.20181776,  99.4589828 , 129.05732628,
        89.49562622,  81.43962668,  93.92034967, 124.82886014,
       109.5150305 ,  99.53566033, 126.03374924,  75.96185821,
       100.04851844, 103.78252867,  94.03901987,  89.47115566,
        79.11500639,  97.79173746, 105.08524608, 121.70821795,
       105.52308811,  97.17099509,  92.00862205, 110.26070588,
        83.98522386, 104.33291694,  95.88418767, 118.65915235,
       140.04079584, 121.08659658,  84.88973045,  87.33329402,
        83.59987732, 111.3712135 ,  92.37772638,  90.4034481 ,
       109.71565664,  97.22642828,  82.26202419, 131.62992482,
        90.06901101,  91.3113405 , 110.47200225, 109.66696865,
       107.37290358, 124.2222542 , 119.97255942,  95.56795298,
        96.34992812,  98.43949852, 114.71010566,  94.83176991,
       112.18630509,  89.13787322, 108.37680764,  84.85364083,
        77.32720007,  94.90836915,  93.77146631,  96.11528039,
        92.40163568,  93.36380334,  84.29580909,  97.22755343,
        97.41570837,  91.09858682, 125.5639761 ,  93.87883974,
        80.39037404,  90.75798639, 106.51676072, 104.46902453,
       124.92016762, 110.39973804, 104.60343409,  98.31391546,
       106.65329096,  77.56134126, 105.80307859, 117.25143322,
       116.71858695,  81.69683686,  94.46570665, 106.95485735,
       106.39323189,  89.30813356, 108.21643888,  95.95514603,
       100.46816546, 112.16936709,  89.75798316,  91.61094061,
       125.06720766,  91.51009783,  77.64912577,  90.80987793,
       115.22025444,  91.18843938,  86.5769808 , 105.25787597,
        93.29279189, 104.10468225, 100.23630342,  96.39528265,
        89.45063536, 107.15181787,  78.49449932,  83.35688364,
       113.54034483, 106.84930802, 110.36535118, 106.38923081,
       107.7237786 ,  79.24996339,  93.60318212,  93.35507946,
        94.83988517,  86.47349698,  96.83400918, 114.09154054,
        98.07350707, 102.07958498,  94.58415707,  72.47671946,
        96.21185265,  85.46414119,  90.90791509, 109.81022714,
       100.32565444,  49.46988752, 101.13095679,  92.3246579 ,
       101.5297643 ,  95.71367216, 103.25525477,  87.52349265,
       119.74088801, 102.71523394,  93.25111768,  74.9528111 ,
        88.67538147,  94.52753376,  98.39843639,  98.97949692,
       114.58163103, 109.82260909, 110.27457031, 114.64858838,
       126.90725341, 110.09492537, 105.82788135, 106.36301673,
        73.4280154 , 100.51828831, 111.94692338, 117.18467786,
        97.88076126, 135.60905844, 104.14177409, 114.65916029,
       108.37608184, 118.02458919, 104.62745066, 113.42638676,
        98.58262296,  79.68200445,  95.48740489,  96.87166252,
       107.71705975,  91.52257665,  92.5034877 , 127.68057945,
       103.31446181,  90.81313973, 108.39223722,  95.81333948,
        99.46269358, 104.01698314, 113.07749942, 107.49820418,
        98.12516274,  93.54405494, 126.28229327,  98.3626288 ,
       120.32884496,  84.97023748,  96.89790059,  99.96295353,
       105.5478356 ,  98.40045156,  97.0909394 , 118.64613485,
        74.77789073,  99.90646037,  89.70847626,  79.76048455,
        88.88583757, 108.44330193,  86.98525047,  80.02301243,
        78.90680706, 119.97240182,  78.01362758, 107.13305408,
        92.2513277 ,  92.97874284, 103.28875427,  84.2670248 ,
       113.17213022,  98.32714722,  83.13070804, 113.73527828,
        70.89642647, 102.39577146,  97.87623828,  59.95941938,
        95.8833456 , 116.69255363, 100.73217484,  95.05592404,
       105.63182081,  96.89406883, 107.30864798, 110.29695453,
        93.72216822,  99.70619864,  99.72021284,  82.98156336,
       104.98914962, 101.052297  , 104.76333701, 129.15760564,
        91.9998934 , 101.74613272, 109.76557488, 121.12967828,
       109.42477551,  91.49922195,  94.49501549,  74.90002768,
       107.24739198, 104.27964213, 101.27579101, 100.26700467,
        79.10611257, 109.18383515,  92.87922955, 106.47321704,
       108.21782934, 103.4061002 , 123.57913271,  97.87175231,
       108.03008162, 101.64606984,  75.10734018,  96.21643828,
       100.99297893,  85.88022457,  99.17455614, 112.49009002,
        72.04172371,  64.88180233,  98.87326633,  75.47951132,
       125.49358342,  81.89858176,  77.22095072,  88.72591131,
        97.03879295,  86.57554499,  94.14595427,  95.8044005 ,
        92.81409639,  88.86404761, 104.98462732,  79.94750299,
       109.61554051,  98.55767043,  92.3129326 , 120.50710963,
        98.07373169, 112.0113821 ,  89.63219072, 107.7363516 ,
       114.68487031,  71.82264783, 101.48460709, 120.05247072,
        87.07286713, 102.29999042, 107.38982132,  97.9888863 ,
       111.91883659, 116.95905708,  77.63096415, 105.14770961,
        94.31059035,  94.64533975, 100.88318487, 118.49033134,
        89.12920904, 113.29624272, 108.08833406,  96.97716952,
        85.64403715,  98.19482471,  90.79168146, 114.19177056,
       113.15332423, 100.39716867,  85.71740494,  91.87574706,
       108.57034213,  97.35443301,  84.95447098, 102.42577731,
       114.077004  , 110.92860901,  86.36119955,  90.11388607,
        84.94796827, 100.29668352, 109.11668023,  74.23970038,
        97.33076527, 118.80952391, 114.90448345,  97.36000199,
        77.92559447,  85.48678052,  80.88428085, 101.59407224,
        71.02197865, 118.81332021, 102.59552928,  97.61019076,
       115.62779652, 131.21111441,  96.32334345,  89.17567493,
        95.05988813, 109.10618518, 109.34556784, 105.05998642,
        86.04499693,  94.20900589,  97.21269834,  94.29970622,
        94.55630973,  95.40171714,  90.55838035, 115.2115284 ,
       113.4161646 , 111.56586444,  86.92814333, 122.67391966,
       106.27218678, 112.75614391, 129.05837885, 118.33320599,
       106.41048836,  92.19578158,  89.36168531, 101.71419339,
        91.14372051,  71.28589548, 102.59924246, 106.00104641,
        99.49109864,  99.62986857, 104.40415373,  88.1222139 ,
        76.1179405 ,  97.96736705, 100.49649021,  89.17545336])

Compute the **mean**, **median**, and **mode**

In [6]:
mean = np.mean(samples)
mean

99.71271940642956

In [7]:
median = np.median(samples)
median

99.58276444758945

In [8]:
mode = stats.mode(samples)
mode

ModeResult(mode=array([48.12378167]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [9]:
samples.min()

48.123781673624535

In [10]:
samples.max()

151.64689920998805

In [15]:
Q1 = np.percentile(samples, 25, interpolation = 'midpoint')
Q3 = np.percentile(samples, 75, interpolation = 'midpoint')
IQR = stats.iqr(samples, interpolation = 'midpoint')
print("Q1 :",Q1)
print("Q3 :", Q3)
print("IQR :", IQR)

Q1 : 90.05128921806515
Q3 : 109.71177259541193
IQR : 19.66048337734678

Compute the **variance** and **standard deviation**

In [16]:
std_dev = np.std(samples)
std_dev

14.804303407030421

In [17]:
variance = np.std(samples)**2
variance

219.16739936741254

Compute the **skewness** and **kurtosis**

In [18]:
skewness = stats.skew(samples)
skewness

-0.020270722301681348

In [19]:
kurtosis = stats.kurtosis(samples)
kurtosis

0.2233299904564996

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [20]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [21]:
y = np.random.randint(10, size=(1,10))
y

array([[1, 4, 6, 2, 6, 4, 6, 5, 1, 5]])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [33]:
r = np.corrcoef(x, y)
r

array([[1.        , 0.75864029],
       [0.75864029, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [28]:
import numpy as np
import pandas as pd
from scipy import stats

In [36]:
x1 = pd.Series(range(10, 20))
y1 = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [37]:
r = stats.pearsonr(x1, y1)
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [38]:
stats.spearmanr(x1,y1, axis= None)

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [40]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [41]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [42]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [43]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [44]:
tips.corr(method="pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000